<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.astro.aboard3.mappers.FileMapper">

    <insert id="registerImg" >
        insert into tbl_board_image (uuid, fileName, bno, ord) values

        <foreach collection="list" item="item" separator=",">
            ( #{item.uuid}, #{item.fileName}, #{item.bno}, #{item.ord} )
        </foreach>
    </insert>

</mapper>